.ajax-area {
	margin-top: 1em;
	background: white;
	border-radius: 8px;
	padding: 8px;
}
.ajax-area blockquote {
	font-size: 1em;
}
.ajax-area h1 {
	margin-top: 0px;
	font-size: 1.5em;
}
.ajax-area .examples {
	margin-top: 1em;
}
.ajax-area .warning {
	margin-top: 1em;
	background: #F4DFDF;
	border: 1px solid #EABFBF;
	border-radius: 8px;
	padding: 8px;
}
.ajax-area .warning {
	margin-top: 1em;
	background: #FCFCE9;
	border: 1px solid #E2E2D1;
	border-radius: 8px;
	padding: 8px;
}
