.ajax-area {
	background: white;
	border-radius: 8px;
	padding: 8px;
}
blockquote {
	font-size: 1em;
}
.ajax-area h1 {
	font-size: 1.5em;
}
.ajax-area .examples {
	margin-top: 1em;
}
.ajax-area .warning {
	background: #F4DFDF;
	border: 1px solid #EABFBF;
	border-radius: 8px;
	padding: 8px;
}
